{:format :kotoba.cljk-origin/v1
 :renamed-on "2026-09-11"
 :decision "adr-2609111500-cljk-rename-all-clojure-source (com-junkawasaki/root 90-docs/adr; owner instruction 2026-09-11)"
 :rule "value = the extension the file had before the rename. A path ending in .clj.cljk or .cljs.cljk kept it in the name because both platform files existed (or the plain target was taken)."
 :origins
 {"run_tests.cljk" ".clj"
  "scripts/build.cljk" ".clj"
  "src/matsurigoto/cells/social_post.cljk" ".cljc"
  "src/matsurigoto/methods/_edn.cljk" ".cljc"
  "src/matsurigoto/methods/datoms.cljk" ".cljc"
  "src/matsurigoto/methods/edn.cljk" ".cljc"
  "src/matsurigoto/methods/mesh.cljk" ".clj"
  "src/matsurigoto/methods/modules/benefit_disburse.cljk" ".cljc"
  "src/matsurigoto/methods/modules/civil_registry.cljk" ".cljc"
  "src/matsurigoto/methods/modules/corp_registry.cljk" ".cljc"
  "src/matsurigoto/methods/modules/credential_issue.cljk" ".cljc"
  "src/matsurigoto/methods/modules/tax_assess.cljk" ".cljc"
  "src/matsurigoto/methods/sign_capability.cljk" ".cljc"
  "src/matsurigoto/methods/social.cljk" ".cljc"
  "src/matsurigoto/methods/standard.cljk" ".cljc"
  "src/matsurigoto/tax_collect/contacts.cljk" ".clj"
  "src/matsurigoto/tax_collect/datom_emit.cljk" ".clj"
  "src/matsurigoto/tax_collect/jp_calendar.cljk" ".clj"
  "src/matsurigoto/tax_collect/payment.cljk" ".clj"
  "src/matsurigoto/tax_collect/procedures.cljk" ".clj"
  "src/matsurigoto/tax_collect/tax_collect.cljk" ".clj"
  "src/matsurigoto/tax_collect/withholding.cljk" ".clj"
  "test/matsurigoto/methods/modules/test_benefit_disburse.cljk" ".cljc"
  "test/matsurigoto/methods/modules/test_civil_registry.cljk" ".cljc"
  "test/matsurigoto/methods/modules/test_corp_registry.cljk" ".cljc"
  "test/matsurigoto/methods/modules/test_credential_issue.cljk" ".cljc"
  "test/matsurigoto/methods/modules/test_tax_assess.cljk" ".cljc"
  "test/matsurigoto/methods/test_datoms.cljk" ".cljc"
  "test/matsurigoto/methods/test_lexicons.cljk" ".cljc"
  "test/matsurigoto/methods/test_sign_capability.cljk" ".cljc"
  "test/matsurigoto/methods/test_standard.cljk" ".cljc"
  "test/matsurigoto/repository_contract_test.cljk" ".clj"
  "test/matsurigoto/tax_collect/test_contacts.cljk" ".clj"
  "test/matsurigoto/tax_collect/test_datom_emit.cljk" ".clj"
  "test/matsurigoto/tax_collect/test_payment.cljk" ".clj"
  "test/matsurigoto/tax_collect/test_procedures.cljk" ".clj"
  "test/matsurigoto/tax_collect/test_withholding.cljk" ".clj"}}
